* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100px;
    min-width: 960px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, input, button, textarea, p, blockquote, th, td, form, pre {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

a:active, a:hover {
    outline: 0
}

img {
    display: inline-block;
    border: none;
    vertical-align: middle;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3 {
    font-size: 14px;
    font-weight: 400;
}

h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}

button, input, select, textarea {
    font-size: 100%;
}

input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}


/** 滚动条 **/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button:vertical {
    display: none;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background-color: #e2e2e2;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(0, 0, 0, .35);
}

::-webkit-scrollbar-thumb:vertical:active {
    background-color: rgba(0, 0, 0, .38);
}

@font-face {
    font-family: 'layui-icon';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#iconfont') format('svg');
}

.jui-icon {
    font-family: "layui-icon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/** 初始化全局标签 **/

body {
    line-height: 24px;
    font: 14px Helvetica Neue, Helvetica, PingFang SC, \5FAE\8F6F\96C5\9ED1, Tahoma, Arial, sans-serif;
}

hr {
    height: 1px;
    margin: 10px 0;
    border: 0;
    background-color: #e2e2e2;
    clear: both;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #777;
}

a cite {
    font-style: normal;
    *cursor: pointer;
}


/* 消除第三方ui可能造成的冲突 */

.cbox, .cbox * {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.bbox, .bbox * {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.clear {
    clear: both;
    *zoom: 1;
}

.clear:after {
    content: '\20';
    clear: both;
    *zoom: 1;
    display: block;
    height: 0;
}

.inline {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}


/* 三角形 */

.edge {
    position: absolute;
    width: 0;
    height: 0;
    border-style: dashed;
    border-color: transparent;
    overflow: hidden;
}


/* 单行溢出省略 */

.elip {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/* 屏蔽选中 */

.unselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.disabled, .disabled:hover {
    color: #d2d2d2 !important;
    cursor: not-allowed !important;
}


/* 纯圆角 */

.circle {
    border-radius: 100%;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.min-show {
    position: absolute;
    width: 1px;
    height: 1px;
}


/* layout */

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.66666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333%;
}

.col-5 {
    width: 41.66666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%
}

.col-8 {
    width: 66.66666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333%
}

.col-11 {
    width: 91.66666667%;
}

.col-12 {
    width: 100%;
}


.form-item{
	
}

.form-item.readOnly.showOnly{
	
}
.form-item.hidden{
	display:none;	
}
.form-item.lable{
	
}
.form-item.text{
	
}
.form-item.select{
	
}
.form-item.mselect{
	
}
.form-item.checkbox{
	
}
.form-item.radio{
	
}
.form-item.textarea{
	
}
.form-item.datetime{
	
}
.form-item.date{
	
}
.form-item.time{
	
}
.form-item.year{
	
}
.form-item.yearMonth{
	
}
.form-item.month{
	
}
.form-item.day{
	
}
.form-item.monthDay{
	
}

